.venv/
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.ipynb_checkpoints/
*.log
*.sqlite3
*.db
*.dump
htmlcov/
.coverage
.cache/
.tox/
pip-wheel-metadata/
poetry.lock
poetry.toml
.env
.env.*
.vscode/
.DS_Store
Thumbs.db
